@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button:focus {
  outline: 0 !important;
}

.main {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: rgb(255, 207, 17);
}
.subtitle {
  text-align: left;
  font-size: 16px;
  font-weight: 900;
  color: rgb(230, 227, 222);
}

.subtitle2 {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  color: rgb(230, 227, 222);
}

.submit-btn {
  width: 200px;
  margin: 10px;
  color: rgb(28, 22, 1);
  background-color: rgb(255, 207, 17);
  font-size: 12px;
  font-weight: 900;
  border-radius: 5px;
  padding: 5px;
  border: none;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 207, 17, 0.671);
}

.delete-btn {
  margin: 5px;
  color: rgba(31, 2, 2, 0.899);
  background-color: rgba(230, 70, 70, 0.899);
  font-size: 10px;
  font-weight: 900;
  border-radius: 5px;
  padding: 5px;
  border: none;
}

.delete-btn:hover {
  cursor: pointer;
  background-color: rgba(230, 70, 70, 0.721);
}
.edit-btn {
  margin: 5px;
  color: rgb(53, 43, 6);
  background-color: azure;
  font-size: 10px;
  font-weight: 900;
  border-radius: 5px;
  padding: 5px;
  border: none;
}

.edit-btn:hover {
  cursor: pointer;
  background-color: azure;
}

.reset-btn {
  margin: 5px;
  color: rgba(31, 2, 2, 0.899);
  background-color: rgba(230, 70, 70, 0.899);
  font-size: 8px;
  font-weight: 900;
  border-radius: 5px;
  padding: 5px;
  border: none;
}

.reset-btn:hover {
  cursor: pointer;
  background-color: rgba(230, 70, 70, 0.721);
}
